<div [ngClass]="{ 'status-run': internet,'status-exited': !internet}">
  <div *ngIf="internet">Online</div>
  <div *ngIf="!internet">Disconnect</div>
</div>
<div class="row" style="width: 99%;margin-left: 0.5%;margin-top: 20px;">
  <div *ngFor=" let item of lists " class="col-md-3  ">
    <div class="box" [ngClass]="{ 'status-run': item.State=='running','status-exited': item.State=='exited','status-exited': item.State=='dead'}">
      <div class="text ">
        <label>
          {{item.Names[0]}}
        </label>
        <br>
        <label style="font-size: 0.5rem">{{item.ip}}</label>
        <br>
        <label style="font-size: 0.5rem">{{item.Status}}</label>
      </div>
    </div>
  </div>
</div>